PORT=
DB_NAME=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=

# CLOUDINARY
CLOUDINARY_CLOUD_NAME = dckxhsgw0
CLOUDINARY_API_KEY = 714143815483778
CLOUDINARY_API_SECRET = WTxJuc6O3oW5eDMydKgZnla4rCg

# NODEMAILER 
HOST_NODEMAILER=smtp.gmail.com
PORT_NODEMAILER_SECURE=465
PORT_NODEMAILER_INSECURE=587
USER_NODEMAILER=devnavigatoradmn@gmail.com
PASSWORD_NODEMAILER=rvbh ilzw idkt sflw

#BOTPRESS
BOTPRESS_CLIENT_ID = 